---
// Component Imports
import Counter from "../components/Counter.svelte";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

// get collection type
import { getCollection } from "astro:content";

// get a collection
const roomData = await getCollection("roomData");

import { listOfRooms } from "@/content/rooms";
import RoomSelect from "@/components/RoomSelect.svelte";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <style>
            html,
            body {
                font-family: system-ui;
                margin: 0;
            }
            body {
                padding: 2rem;
            }
        </style>
    </head>

    <body>
        <main>
            <Counter client:visible>
                <h1>Hello, Svelte!</h1>
            </Counter>

            <h2 class="text-2xl font-bold">List of Rooms</h2>

            <RoomSelect client:load listOfRooms={listOfRooms} />

            <!-- <h2>Room Data</h2>

            {
                roomData.map((room) =>
                    room.data.map((r) => (
                        <div class="my-4 border border-gray-600 hover:shadow-md transition w-fit p-6 rounded">
                            <h3>{r.day}</h3>
                            <p>{r.module}</p>
                            <p>{r.lecturer}</p>
                            <p>{r.time}</p>
                        </div>
                    ))
                )
            } -->
        </main>
    </body>
</html>
